.navbar.navbar-expand-lg.bg-ligth {
    background: rgba(8, 70, 120, 0.864);
}

i.fa-brands.fa-square-facebook.fa-2xl:hover {
    color: blue; 
}

i.fa-brands.fa-google.fa-2xl:hover {
    color: rgb(194, 4, 109);
}

i.fa-brands.fa-square-github.fa-2xl:hover {
    color: black;
}

i.fa-brands.fa-square-twitter.fa-2xl:hover {
    color: rgb(0, 172, 238);
}

i.fa-solid.fa-user-lock.fa-2xl:hover {
    color: rgba(37, 20, 187, 0.856);
}

i.fa-solid.fa-user.fa-2xl:hover {
    color: rgba(37, 20, 187, 0.856);
}

.list-group {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-width: 0;
}


#foto-perfil{
    width: 80%;
    height: 50%;
    border-radius: 50%;    
    margin-top: 50%;
}

#aplogo {
    width: 25%;
}

p {
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
padding-top: 30px;
padding-left: 10px;
padding-right: 10px;padding-bottom: 30px;
text-align: justify;
}

table{

    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
padding-top: 30px;
padding-left: 10px;
padding-right: 10px;padding-bottom: 30px;
text-align: center;
font-weight: normal;


}


#top-relative{

background-color:  rgb(36, 38, 41);
height: 92px;

}

main {
    background-color: rgba(128, 128, 128, 0.488);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#a,
#b,
#c {
    text-align: center;
    background-color: rgb(36, 38, 41);
    color:white;
}


.cajatop {
    height: 610px;
    background-color: rgb(36, 38, 41);

}

.fot {
    height: 500px;
    background-color: rgb(36, 38, 41);
    margin-bottom: 0%;

}

.backwhite {
    background-color: white;
    width: 100%;
    margin: 0%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;

}

#bt2:hover,
#bt1:hover {

    width: 15%;
    background-color: rgba(37, 150, 243, 0.432);
    font-size: 24px;
    color: black;
    font-weight: bolder;
}

#bt3:hover {
    width: 15%;
    background-color: rgba(37, 150, 243, 0.432);
    font-size: 20px;
    color: black;
    font-weight: bolder;
}



#Cimg,
#Cimg1,
#Cimg2 {
    max-width: 100%;
    height: 610px;
padding-left: 0px;}

a{color:white;
    text-decoration: none;
}

h1{
    font-size: 115px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #2c2c2c;
letter-spacing: .05em;
text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);

}

h6{
 font-size: 24px;
 color: #2c2c2c;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: .05em;
padding-bottom: 15px;
}
